<!--
  Generated template for the ConfiguracionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Configuraciones</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

  <form (ngSubmit)="guardarConfiguracion()">
    <ion-item>
      <ion-label>Clave Configuración</ion-label>
      <ion-input [(ngModel)]="claveConfiguracion" name="claveConfiguracion" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Valor Configuración</ion-label>
      <ion-input [(ngModel)]="valorConfiguracion" name="valorConfiguracion" type="text"></ion-input>
    </ion-item>

    <button ion-button type="submit" block>Guardar Configuración</button>
    <button ion-button (click)="guardar()"  block>Guardar</button>
  </form>


  <!--<form (ngSubmit)="actualizarConfiguracion()">

    <ion-item>
      <ion-label>Clave Configuración</ion-label>
      <ion-input [(ngModel)]="pkidconfiguracion" name="pkidconfiguracion" type="text"></ion-input>
    </ion-item>    

    <ion-item>
      <ion-label>Valor Configuración</ion-label>
      <ion-input [(ngModel)]="valorConfiguracionEdit" name="valorConfiguracionEdit" type="text"></ion-input>
    </ion-item>

    <button ion-button type="submit" block>Actualizar Configuración</button>
  </form>-->

</ion-content>